{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>MIJ Fender Strat 62-RI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'common.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index">Gear</a></li>
        <li><a href="/polls/">Polls</a></li>
        <li><a href="vids">Videos</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row">
    <div class="col-sm-4 sidenav">
      <a href="#" title="" class="">
          <img src="https://i.imgur.com/8ZN9zzw.jpg" class="img-responsive" style="width:100%" alt="Image">
          <br>
      </a>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>MIJ Fender Stratocaster 1962 Reissue.</h1>
      <p>The Made in Japan Stratocaster.. a thing that made Fender executives cry according to The Fender Book.
         The Japanese had been making replicas of fender and gibson guitars for years, eventually getting so 
         good at it that they exceeded the quality of spec for spec guitars of the time from the United states.
         Fender were bought out by CBS in 1965, and over a period of nearly 20 years, many costs were cut.
         A number of Japanese companies such as Bacchus, Tokai and Fuji-gen began making guitars in this period 
         because of the unavailability of actual Fender guitars in Japan. They did this by getting what originals
         they could and measuring all hell out of them.</p>       
      <p>When Fender was sold by CBS to the Management team, the new
         owners had no means of production and they turned to the Japanese. Fuji-gen and Tokai took up production
         of Fender guitars (since they already made them) to plug the gap. It was the samples that were sent to Fender
         excutives that caused tears, because they couldn't figure out how they couldn't make a guitar of that quality
         and accuracy.</p>
      <p>Once production in the U.S. was spun up, Fender permitted the Japanese distributer to continue having Fuji-Gen
         and Tokai produce for the Japanese market only. Fortunately for us these guitars reached us via grey market dealers, 
         at about 2/3's the cost of a similar spec U.S. made guitar, with the additional bonus that the quality of build, fit 
         and finish tends to be superior on Japanese made guitars.</p>
      <p>This is a replica of the specs from a particular popular year of the guitars original production.</p>
      <hr>
      <h3>Polls</h3>
      <p>Is this your favourite guitar from my site? Go to the poll and give it a vote!</p>
      <button type="submit" class="text-dark"><a href="/polls/">Go to polls</a></button>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Thanks for viewing!! </p>
</footer>

</body>
</html>